In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\rahul\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\rahul\anaconda3\lib\site-packages (from selenium) (1.26.4)

In [93]:
# Q.1-For Scraping data from WWW.naukri.com for "Data Analyst", location-Bangalore for job-title, location, company-name and experience required
import selenium
import pandas as pd
from selenium import webdriver

In [94]:
driver = webdriver.Chrome("Chromedriver.exe")

In [95]:
url = "https://www.naukri.com/"
driver.get(url)

In [96]:
Search_job = driver.find_element_by_xpath('//input[@class="sugInp"]')
Search_job

In [97]:
Search_job.send_keys("Data Analyst")

In [99]:
search_loc = driver.find_element_by_id("qsb-location-sugg")
search_loc.send_keys("Bangalore/Bengaluru")

In [100]:
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()

In [101]:
titles_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags

[<selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="c7590d07-9bf2-4881-84ba-0b698b4fa620")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="149ea27a-ee4a-4cef-9aba-d8e769368c70")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="68e46c20-ee0b-4217-bfe2-60db47bee06d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="ff349491-6608-438a-9c82-71382b83d63d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="79007876-3c81-4585-99f2-0db3ede9fab3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="cfde7708-d0a4-46b2-ae5c-df5850987be9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="7355e0fa-b5f8-4171-8b11-112f271a2474")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="a5efbec9-0463-4dab-974a-c9b08f66fe0a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="fe547778-b9d4-40be-81ce-9a3ef48f12d7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="ede62e78-83dd-40fa-a245-9a27ccb79946")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="2744a37b-a00d-42e8-8364-fae6c175bb83")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="538b6dd0-8b05-4e0f-a8ae-9dea18d92dbc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="db650d29-a9f2-459c-ab7e-413d64f74554")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="8481eec4-428e-4c39-bb94-ebc09636f697")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="c06952fc-d335-447a-96f4-1420f529bdc5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="2598bd10-bddf-4b42-a54a-89ea2110dbc4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="11522761-0a25-4cb6-89ad-0dce4745bfde")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="781dd8d9-a085-4678-8772-d9066678d828")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="78e79172-1759-4a04-bdfa-04431120416c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="a7cbc364-482b-4952-90a9-a064c30de766")>]

In [102]:
job_titles = []
for i in titles_tags:
    job_titles.append(i.text)

job_titles

['Data Scientist / Data Analyst -Business Analyst',
 'Assistant Vice President - MIS & Reporting ( Business Data Analyst)',
 'Network Design & Data Analyst',
 'Business Data Analyst - MIS & Reporting',
 'Data analysts',
 'Data Analyst',
 'Excel VBA Jobs Bangalore | VBA data analyst Jobs',
 'Software Developer / Web Developer/data analyst',
 'Consultant - Data Analyst',
 'Data Analyst – Financial, Healthcare, Sports Betting',
 'Data Analyst',
 'Data Analyst Azure',
 'Urgently Looking For Data Analyst',
 'Data Analyst',
 'Senior Security Specialist - CS Awareness & Data Analyst',
 'Data Analyst',
 'Senior Data Analyst Python, ML - Bangalore',
 'Data Analyst',
 'Data Analyst',
 'Senior Data Analyst']

In [104]:
company_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tags

[<selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="3e885ef4-e5c1-4a17-9d49-e50ace84fa19")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="70148c8a-9314-42b5-8949-c446f3dd18ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="79451c3b-8883-453c-93fc-d6397b858d26")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="fed956ca-59cb-4b87-b5b9-3845f34e361e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="197402b5-36b0-4d13-ba93-6c6b5159e133")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="508d8800-6192-466b-9a86-e77258a8aa99")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="62c6d1bb-c404-4ca7-a393-afb92c97fc95")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="8893e7f1-f5d0-42b2-b25d-a1f534242be4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="09da9cb2-7269-4ca5-ade1-af7540607e2e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="7120da6e-6aef-4bd0-a79f-fc1119f5b76d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="efb897bb-dcb2-437f-9361-79bb6f5c0ccf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="3d9a86c2-415a-4a7b-90e7-e640b0f75a75")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="9d9a2519-264b-48da-ada3-35ecfbdcd733")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="c843a207-c54b-4f9c-94ec-e9dabb2b7214")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="25967538-65d7-4b8a-a6dc-41f6f78dcdee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="e5dfb1e6-535b-4f8f-ab00-61fc3719b967")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="8cf46fca-df84-42d8-8658-74101a70f0b6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="c5426f4b-ffb2-4e9f-8b62-84b8bd6f995f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="1ad3e7ab-d767-450e-8dd2-33b03daeeee5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="d0600a8d-a6b8-4c66-a37c-15df47401c69")>]

In [106]:
company_title = []
for i in company_tags:
    company_title.append(i.text)

company_title

['Inflexion Analytix Private Limited',
 'INTERTRUSTVITEOS CORPORATE AND FUND SERVICES PVT. LTD.',
 'Dell International Services India Private Limited',
 'INTERTRUST GROUP',
 'IBM India Pvt. Limited',
 'CARNATION INFOTECH PRIVATE LIMITED',
 'Mind Circus Innovation',
 'Edubridgeindia',
 'Flipkart Internet Private Limited',
 'Quantsys',
 'Flipkart Internet Private Limited',
 'CONDUENT BUSINESS SERVICES INDIA LLP',
 'Flipkart Internet Private Limited',
 'Allegis Services India Pvt. Ltd.',
 'Cognizant Technology Solutions India Pvt Ltd',
 'Clarivate Analytics (TRCPL Projects Pvt Ltd.)',
 '2coms',
 'Siemens Limited',
 'Bright Money',
 'Liventus, Inc.']

In [108]:
experience_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
experience_tags

[<selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="53d7b2b0-3812-447c-981d-c971979ef27a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="45111625-9009-47fb-b2ad-6863d07b5ca1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="7ba847cf-b9c6-4cd6-ac07-a665f2146c25")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="5d19a96e-f821-4ce7-9177-00705d6b8109")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="9527ee01-7b7c-4780-a574-cde2af8e4c6e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="75bbff80-77a4-4750-ab37-88d4fe5cfc35")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="2ae5dad1-39fe-4e7e-bfbd-8baafbea6b42")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="bcc05213-c459-4dfb-ba89-284418fcacb1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="df8ea9ca-c9f5-4d90-b4d7-2f3d9f19ca49")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="45811ec7-b74f-459f-b0c4-b88fe686f0b4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="efdff377-a82c-41c2-922f-e2660e41f6a5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="8c647e7a-b122-4dfd-bc00-9194de245d57")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="3aac45cc-4fa8-42fd-90b5-2b3f4d2be1c9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="72a6558f-0d4f-49a1-97f6-8a13f04558f6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="a947b0c5-6d54-47e2-a673-caa69a6c6d84")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="7262c0ce-bf73-45d0-85c8-c203d1060fd4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="d1bc9240-088b-4030-aee9-cd54816c4e40")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="48584308-7c98-4058-b674-271c64385f58")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="378e08de-648d-488c-a182-7e9aa49cd82f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="304932de-956c-4b9c-9804-90321382bcf5")>]

In [109]:
experience_list = []
for i in experience_tags:
    experience_list.append(i.text)
experience_list

['0-3 Yrs',
 '10-15 Yrs',
 '0-2 Yrs',
 '3-8 Yrs',
 '5-10 Yrs',
 '0-5 Yrs',
 '0-2 Yrs',
 '0-1 Yrs',
 '0-2 Yrs',
 '2-4 Yrs',
 '3-5 Yrs',
 '3-6 Yrs',
 '2-3 Yrs',
 '8-13 Yrs',
 '4-7 Yrs',
 '1-2 Yrs',
 '2-7 Yrs',
 '0-5 Yrs',
 '0-2 Yrs',
 '5-8 Yrs']

In [110]:
job_location = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")
job_location

[<selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="f806b333-b730-44d7-affc-be2492c318a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="61f680de-3ead-4b76-83d4-20fd4ff16e0d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="1bf06475-6d1c-425e-bbed-7492868e3e2d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="b4a4a0b5-cd5d-4bc9-9259-3f7c8b4fa5e1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="909f1956-6095-43bd-872d-059cd2a7ee66")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="6f95aae9-53d1-4eeb-8728-b53ac013c4f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="d974a226-1e87-4baf-a1e4-eb3f18468fc7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="35fa2667-4107-4fad-85dc-73c2c3240af6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="972bd44a-42c8-4ac9-9606-5131d305440d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="5ab99456-db45-484e-b30c-7bac27bc3c80")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="1c89814c-e2ae-4d88-8de0-afa635a1db8d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="735f0261-4562-443e-99a5-a89aa4bde281")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="498f70c0-52b1-4aca-8a69-253afd1c7011")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="3c4ed9b3-c1df-45be-b845-c7a52eb39a39")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="50297700-9243-4079-af6d-65d03b2402a6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="116f1eb0-d9ff-47a0-8bbd-7c5b8561d4f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="7de18a38-ba47-4e9e-b35d-c61c59f76293")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="229c7660-2d16-4d7b-a1cb-a11d5c2c88fd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="39a60c6a-4479-410f-b0b5-4936e8e2354d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="3a31a5b2-f34e-4fc2-ba9b-975ed694d7de")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f91b9575e20fbbf7faddc1c2d9b97ce", element="61f5e1b3-2c15-4406-b0a8-b22338828304")>]

In [111]:
location_list = []
for i in job_location:
    location_list.append(i.text)
location_list

['Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Mumbai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Lucknow, Bangalore/Bengaluru',
 '(WFH during Covid)',
 'Coimbatore, Bangalore/Bengaluru, Trivandrum/Thiruvananthapuram',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(2nd Phase JP Nagar)']

In [115]:
print(len(job_titles), len(company_title), len(experience_list), len(location_list))

20 20 20 21

In [116]:
#for dataframe
import pandas as pd
jobs = pd.DataFrame({})
jobs['title'] = job_titles[:10]
jobs['Company'] = company_title[:10]
jobs['Location'] = location_list[:10]
jobs['experience'] = experience_list[:10]

In [117]:
jobs

,title,Company,Location,experience
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",0-3 Yrs
1,Assistant Vice President - MIS & Reporting ( B...,INTERTRUSTVITEOS CORPORATE AND FUND SERVICES P...,"Mumbai, Bangalore/Bengaluru",10-15 Yrs
2,Network Design & Data Analyst,Dell International Services India Private Limited,Bangalore/Bengaluru,0-2 Yrs
3,Business Data Analyst - MIS & Reporting,INTERTRUST GROUP,"Mumbai, Bangalore/Bengaluru",3-8 Yrs
4,Data analysts,IBM India Pvt. Limited,Bangalore/Bengaluru,5-10 Yrs
5,Data Analyst,CARNATION INFOTECH PRIVATE LIMITED,"Lucknow, Bangalore/Bengaluru",0-5 Yrs
6,Excel VBA Jobs Bangalore | VBA data analyst Jobs,Mind Circus Innovation,(WFH during Covid),0-2 Yrs
7,Software Developer / Web Developer/data analyst,Edubridgeindia,"Coimbatore, Bangalore/Bengaluru, Trivandrum/Th...",0-1 Yrs
8,Consultant - Data Analyst,Flipkart Internet Private Limited,"Hyderabad/Secunderabad, Bangalore/Bengaluru",0-2 Yrs
9,"Data Analyst – Financial, Healthcare, Sports B...",Quantsys,Bangalore/Bengaluru,2-4 Yrs

In [1]:
# Q.2- Scraping first 10 data using title-Data Scientist, location-Bangalore, company-name and job-description
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

In [18]:
driver=webdriver.Chrome("Chromedriver.exe")
driver.get("https://www.naukri.com/data-scientist-jobs-in-bangalore-bengaluru")

In [3]:
urls =[]
for i in driver.find_elements_by_xpath("//a[@class ='title fw500 ellipsis']"):
    urls.append(i.get_attribute("href"))

In [4]:
len(urls)

20

In [5]:
urls

['https://www.naukri.com/job-listings-senior-data-scientist-flipkart-internet-private-limited-bangalore-bengaluru-5-to-10-years-090721908235?src=jobsearchDesk&sid=16259871561564177&xp=1&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-bd-bangalore-bengaluru-2-to-7-years-090721501722?src=jobsearchDesk&sid=16259871561564177&xp=2&px=1',
 'https://www.naukri.com/job-listings-data-scientist-data-analyst-business-analyst-inflexion-analytix-private-limited-hyderabad-secunderabad-chennai-bangalore-bengaluru-0-to-3-years-020721003625?src=jobsearchDesk&sid=16259871561564177&xp=3&px=1',
 'https://www.naukri.com/job-listings-data-scientist-flipkart-internet-private-limited-bangalore-bengaluru-0-to-5-years-080721904425?src=jobsearchDesk&sid=16259871561564177&xp=4&px=1',
 'https://www.naukri.com/job-listings-data-scientist-oracle-india-pvt-ltd-noida-bangalore-bengaluru-5-to-9-years-010621004567?src=jobsearchDesk&sid=16259871561564177&xp=5&px=1',
 'https://www.naukri.com/job-listings-data-scientist-advanced-analytics-ibm-india-pvt-limited-bangalore-bengaluru-5-to-10-years-090721906161?src=jobsearchDesk&sid=16259871561564177&xp=6&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-inventiv-international-pharma-services-pvt-ltd-hyderabad-secunderabad-gurgaon-gurugram-bangalore-bengaluru-3-to-6-years-090721000064?src=jobsearchDesk&sid=16259871561564177&xp=7&px=1',
 'https://www.naukri.com/job-listings-data-scientist-applied-materials-india-private-limited-bangalore-bengaluru-5-to-10-years-090721902434?src=jobsearchDesk&sid=16259871561564177&xp=8&px=1',
 'https://www.naukri.com/job-listings-data-scientist-2-gojek-tech-bangalore-bengaluru-4-to-8-years-090721501896?src=jobsearchDesk&sid=16259871561564177&xp=9&px=1',
 'https://www.naukri.com/job-listings-data-scientist-2-go-jek-india-bangalore-bengaluru-6-to-11-years-090721501884?src=jobsearchDesk&sid=16259871561564177&xp=10&px=1',
 'https://www.naukri.com/job-listings-hiring-data-scientist-ihx-private-limited-bangalore-bengaluru-4-to-6-years-090721002695?src=jobsearchDesk&sid=16259871561564177&xp=11&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ibm-india-pvt-limited-bangalore-bengaluru-3-to-6-years-080721906014?src=jobsearchDesk&sid=16259871561564177&xp=12&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ibm-india-pvt-limited-bangalore-bengaluru-6-to-10-years-090721905332?src=jobsearchDesk&sid=16259871561564177&xp=13&px=1',
 'https://www.naukri.com/job-listings-data-scientist-python-machine-learning-exploro-solutions-bangalore-bengaluru-5-to-10-years-100721901978?src=jobsearchDesk&sid=16259871561564177&xp=14&px=1',
 'https://www.naukri.com/job-listings-data-scientist-sql-r-python-imindyourbusiness-bangalore-bengaluru-4-to-8-years-100721901754?src=jobsearchDesk&sid=16259871561564177&xp=15&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-24-7-customer-private-ltd-bangalore-bengaluru-5-to-10-years-280621501037?src=jobsearchDesk&sid=16259871561564177&xp=16&px=1',
 'https://www.naukri.com/job-listings-exl-senior-data-scientist-5-yrs-mumbai-pune-blr-chennai-exl-service-pune-chennai-bangalore-bengaluru-delhi-ncr-5-to-10-years-080721005255?src=jobsearchDesk&sid=16259871561564177&xp=17&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-superior-group-bangalore-bengaluru-4-to-9-years-070721500778?src=jobsearchDesk&sid=16259871561564177&xp=18&px=1',
 'https://www.naukri.com/job-listings-sr-data-scientist-fabhotel-aay-kay-model-town-bangalore-bengaluru-2-to-5-years-070721500535?src=jobsearchDesk&sid=16259871561564177&xp=19&px=1',
 'https://www.naukri.com/job-listings-sr-data-scientist-baker-hughes-incorporated-bangalore-bengaluru-3-to-7-years-060721500843?src=jobsearchDesk&sid=16259871561564177&xp=20&px=1']

In [6]:
job_title=[]
job_description=[]
job_location=[]
company_name=[]

In [57]:
for i in urls[:10]:
    driver.get(i)
    time.sleep(3)
#job title
    try:
        job=driver.find_element_by_xpath("//h1[@class='jd-header-title']")
        job_title.append(job.text)
    except NoSuchElementException:
        job_title.append('-')
#company_details
    try:
        company=driver.find_element_by_xpath("//div[@class='jd-header-comp-name']//a")
        company_name.append(job.text)
    except:
        company_name.append('-')
#job description
    try:
        job_desc=driver.find_element_by_xpath("//section[@class='job-desc']")
        job_description.append(job_desc.text)
    except:
        job_description.append('-')

In [10]:
urls

['https://www.naukri.com/job-listings-senior-data-scientist-flipkart-internet-private-limited-bangalore-bengaluru-5-to-10-years-090721908235?src=jobsearchDesk&sid=16259871561564177&xp=1&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-bd-bangalore-bengaluru-2-to-7-years-090721501722?src=jobsearchDesk&sid=16259871561564177&xp=2&px=1',
 'https://www.naukri.com/job-listings-data-scientist-data-analyst-business-analyst-inflexion-analytix-private-limited-hyderabad-secunderabad-chennai-bangalore-bengaluru-0-to-3-years-020721003625?src=jobsearchDesk&sid=16259871561564177&xp=3&px=1',
 'https://www.naukri.com/job-listings-data-scientist-flipkart-internet-private-limited-bangalore-bengaluru-0-to-5-years-080721904425?src=jobsearchDesk&sid=16259871561564177&xp=4&px=1',
 'https://www.naukri.com/job-listings-data-scientist-oracle-india-pvt-ltd-noida-bangalore-bengaluru-5-to-9-years-010621004567?src=jobsearchDesk&sid=16259871561564177&xp=5&px=1',
 'https://www.naukri.com/job-listings-data-scientist-advanced-analytics-ibm-india-pvt-limited-bangalore-bengaluru-5-to-10-years-090721906161?src=jobsearchDesk&sid=16259871561564177&xp=6&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-inventiv-international-pharma-services-pvt-ltd-hyderabad-secunderabad-gurgaon-gurugram-bangalore-bengaluru-3-to-6-years-090721000064?src=jobsearchDesk&sid=16259871561564177&xp=7&px=1',
 'https://www.naukri.com/job-listings-data-scientist-applied-materials-india-private-limited-bangalore-bengaluru-5-to-10-years-090721902434?src=jobsearchDesk&sid=16259871561564177&xp=8&px=1',
 'https://www.naukri.com/job-listings-data-scientist-2-gojek-tech-bangalore-bengaluru-4-to-8-years-090721501896?src=jobsearchDesk&sid=16259871561564177&xp=9&px=1',
 'https://www.naukri.com/job-listings-data-scientist-2-go-jek-india-bangalore-bengaluru-6-to-11-years-090721501884?src=jobsearchDesk&sid=16259871561564177&xp=10&px=1',
 'https://www.naukri.com/job-listings-hiring-data-scientist-ihx-private-limited-bangalore-bengaluru-4-to-6-years-090721002695?src=jobsearchDesk&sid=16259871561564177&xp=11&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ibm-india-pvt-limited-bangalore-bengaluru-3-to-6-years-080721906014?src=jobsearchDesk&sid=16259871561564177&xp=12&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ibm-india-pvt-limited-bangalore-bengaluru-6-to-10-years-090721905332?src=jobsearchDesk&sid=16259871561564177&xp=13&px=1',
 'https://www.naukri.com/job-listings-data-scientist-python-machine-learning-exploro-solutions-bangalore-bengaluru-5-to-10-years-100721901978?src=jobsearchDesk&sid=16259871561564177&xp=14&px=1',
 'https://www.naukri.com/job-listings-data-scientist-sql-r-python-imindyourbusiness-bangalore-bengaluru-4-to-8-years-100721901754?src=jobsearchDesk&sid=16259871561564177&xp=15&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-24-7-customer-private-ltd-bangalore-bengaluru-5-to-10-years-280621501037?src=jobsearchDesk&sid=16259871561564177&xp=16&px=1',
 'https://www.naukri.com/job-listings-exl-senior-data-scientist-5-yrs-mumbai-pune-blr-chennai-exl-service-pune-chennai-bangalore-bengaluru-delhi-ncr-5-to-10-years-080721005255?src=jobsearchDesk&sid=16259871561564177&xp=17&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-superior-group-bangalore-bengaluru-4-to-9-years-070721500778?src=jobsearchDesk&sid=16259871561564177&xp=18&px=1',
 'https://www.naukri.com/job-listings-sr-data-scientist-fabhotel-aay-kay-model-town-bangalore-bengaluru-2-to-5-years-070721500535?src=jobsearchDesk&sid=16259871561564177&xp=19&px=1',
 'https://www.naukri.com/job-listings-sr-data-scientist-baker-hughes-incorporated-bangalore-bengaluru-3-to-7-years-060721500843?src=jobsearchDesk&sid=16259871561564177&xp=20&px=1']

In [19]:
#scraping the job-location
locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in locations:
    if i.text is None :
        job_location.append("--") 
    else:
        job_location.append(i.text)

In [20]:
job_location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Noida, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(5th block Koramangala)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [21]:
print(len(job_location))

20

In [151]:
#for dataframe
import pandas as pd
jobs = pd.DataFrame({})
jobs['title'] = job_title[:10]
jobs['Location'] = job_location[:10]
jobs['company'] = company_name[:10]
jobs['description'] = job_description[:10]

In [152]:
jobs

,title,Location,company,description
0,Data Scientist,-,Data Scientist,Job description\nAbout the team\nThe Data Scie...
1,Data Scientist / Data Analyst -Business Analyst,-,Data Scientist / Data Analyst -Business Analyst,Job description\nJob description\n\nJob Role: ...
2,-,-,-,-
3,-,-,-,-
4,-,-,-,-
5,"EXL - Senior Data Scientist, 5+ yrs, Mumbai / ...",-,"EXL - Senior Data Scientist, 5+ yrs, Mumbai / ...",Job description\nMinimum Qualifications: (Spec...
6,Senior Data Scientist,-,Senior Data Scientist,Job description\nKey Responsibilities:\nProvid...
7,Sr Data Scientist,-,Sr Data Scientist,"Job description\nAs as Senior Data Scientist, ..."
8,Senior Data Scientist,-,Senior Data Scientist,Job description\n2-10 years experience in mach...
9,-,-,-,-

In [50]:
# Q-3- for scraping a data for "Data Scientist" using the location (Delhi-NCR) and salary filter (3-6 lakhs)
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

In [51]:
driver = webdriver.Chrome("Chromedriver.exe")

In [52]:
url = "https://www.naukri.com/"
driver.get(url)

In [56]:
Search_job = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[1]/div/div/div/div[1]/div[2]/input')
Search_job

In [57]:
Search_job.send_keys("Data Scientist")

In [58]:
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()

In [60]:
location_filter=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/p/span[1]')
location_filter.click()

In [61]:
salary_filter=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/p/span[1]')
salary_filter.click()

In [62]:
titles_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags

[<selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="ebbca770-ccbb-45b4-b34b-bf4ed12df47c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="511b969e-7a25-43a1-a321-1f61199ed2f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="9c8d26c7-6c67-4af8-a8c5-678664be49f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="620bf750-0966-4126-8bcf-c01ca4735e9d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="c16eca11-3a7b-4f03-8c63-4f10966dc5fb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="17bf79ed-3525-46f9-9ccf-1e29ab8c8c77")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="338046a0-6711-4e6d-bec6-4da5dec3b64b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="d5edf610-d834-4646-8ab2-f9f5658f4d4a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="46d1b092-170e-407a-9014-84b497225a45")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="eaf171f4-4174-41a7-b5d8-8a8ed34bb4e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="0054919b-7ec5-4338-a809-3e2f5106e4ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="874147f3-d89f-4fc7-b999-a816318eb706")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="abaca688-156a-4d7b-b594-feea903c3c14")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="cd28926f-ee3f-4478-b416-81df2762af4c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="348b8eaa-e39c-41c3-9582-bdd7846887c4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="0922cbb0-1540-4bbc-8a3f-60b1c656c2e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="5a2d1da5-f8e5-46da-af08-f8b6ab5a7a59")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="7ffeb15c-17a8-486b-96be-e7107d274269")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="4e86ebb2-8d68-4c91-bc66-17933883179f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="f9be5d14-eda7-45bd-aaed-ff799740d68a")>]

In [81]:
job_titles = []
for i in titles_tags:
    job_titles.append(i.text)

job_titles

['Data Scientist/Data Analyst /Business Analyst',
 'Senior Data Scientist',
 'Only Fresher / Data Scientist / Data Analyst / Analytics - MNC Jobs',
 'Advanced Analytics -Data Scientist',
 'Data Scientist (Early Joiner)',
 'Data Scientist - Machine Learning/ NLP',
 'Data Scientist || Python || C2H',
 'Data Scientist || Python || C2H',
 'Chaayos is Looking For Data Scientist',
 'Data Scientist',
 'Data Scientist -Delhi',
 'Senior Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Associate Data Scientist',
 'Associate Data Scientist',
 'DATA SCIENTIST',
 'Data Scientist']

In [64]:
experience_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
experience_tags

[<selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="0e4504c0-ba69-4a5a-99c0-0b2a3351ac6e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="306c0131-7af4-4b07-9709-fd2ad34773b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="a176e058-c4cd-412d-bed6-8e80fba8e716")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="2c1b0e99-4faa-47a7-8185-5c189195b29f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="46580c8c-6f2f-4ad2-8c29-6d3c033787aa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="30d8cb66-5753-4ae5-84d2-53ed6f911622")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="a11f3201-74f6-471b-967a-7ce882ac01a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="0c1990ee-7883-4d77-be59-d7cb3a314ee0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="bfdfab84-e07d-40dc-87f6-d7c3fe556f5e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="9eae9549-9dcf-4afe-a02a-cb54f55e3642")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="4fe75315-b10f-46b4-9008-b568856c59e7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="2ae8b080-91ea-4d6e-a8e2-e0b657e0f6fd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="27334555-7c41-43e5-a0a7-13290f603192")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="87174fb4-ccbf-427e-87c2-3796ae5364ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="978e0451-d5d2-49e9-ab0d-41f2c8fe570e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="c3888f54-417f-4f10-96a4-ad72366b5150")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="d9233a54-31e3-4af7-a818-df5ef5653302")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="3c7a7e2b-7861-4f8b-a096-da60b3327586")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="df6e7e93-2c45-49f6-94fc-78411d02e749")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="955cd666-dd0c-4d08-85bc-2733c41a1a1c")>]

In [74]:
job_exp = []
for i in experience_tags:
    job_exp.append(i.text)

job_exp

['0-3 Yrs',
 '3-6 Yrs',
 '0-0 Yrs',
 '3-7 Yrs',
 '4-8 Yrs',
 '2-6 Yrs',
 '4-6 Yrs',
 '4-6 Yrs',
 '0-5 Yrs',
 '3-7 Yrs',
 '5-8 Yrs',
 '1-5 Yrs',
 '3-7 Yrs',
 '1-3 Yrs',
 '2-6 Yrs',
 '2-6 Yrs',
 '3-6 Yrs',
 '1-5 Yrs',
 '3-5 Yrs',
 '2-5 Yrs']

In [83]:
company_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tags

[<selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="8f342e43-3bc1-4f59-8d1b-07a49086e499")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="ba97d0c7-b9b2-4c86-b6f1-416042ee6fd5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="fb48be51-17aa-4301-8ddd-397118556824")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="0886a4e4-e1f2-4ff0-8870-8ec637be4456")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="c4cced62-2af6-4c5b-b292-04bbe7aebb1f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="9cb0c1ed-96e0-4a9b-8cc2-3cf34eee0649")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="e9fbf629-8896-465a-9211-a6e0fa9a25c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="6ba795e3-1f41-491a-9246-0b98425ceabf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="65b02e50-efd9-4e01-be4c-10c1c7ec0422")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="61d43d8d-4e7d-4f10-b761-720340a786f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="de0a249d-e747-46b8-aee5-c163752ea170")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="09f45918-ece6-4093-856b-a9802e0658da")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="14dd03ad-a847-43ef-9e2c-0bfc93b5b5f0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="12895e74-3af8-4291-b7b5-89605c25ccb8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="9f9f10f5-0622-473b-9d03-a06f8ea547d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="20b83f87-03c9-44bc-8ea1-7cecd4feefaf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="d862b189-0c18-432e-8c16-1f95c56cef08")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="fddf6c7a-9a18-4bc6-8b78-e696afb7bac3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="e16599e3-eb58-4427-88cf-90efa309315e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1153aa70e9a8e20e5a89588006a84aa6", element="c156713d-5b30-4cba-9bb7-5c8bf2fd4caf")>]

In [84]:
company_title = []
for i in company_tags:
    company_title.append(i.text)

company_title

['Inflexion Analytix Private Limited',
 'inVentiv International Pharma Services Pvt. Ltd.',
 'GABA Consultancy services',
 'ERM Placement Services (P) Ltd.',
 'R Systems International Ltd.',
 'TalPro',
 'Growel Softech Pvt. Ltd.',
 'Growel Softech Pvt. Ltd.',
 'Chaayos (Sunshine Teahouse Pvt. Ltd.)',
 'Fractal Analytics',
 'CHANGE LEADERS CONSULTING',
 'iNICU',
 'BlackBuck',
 'Country Veggie',
 'Mahajan Imaging',
 'Mahajan Imaging',
 'Right Step Consulting',
 'Blow Trumpet Solutions',
 'Inference Labs',
 'Milliman India Pvt Ltd']

In [90]:
#for dataframe
import pandas as pd
jobs = pd.DataFrame({})
jobs['Title'] = job_titles[:10]
jobs['Company'] = company_title[:10]
jobs['Experience Req.'] = job_exp[:10]

In [91]:
jobs

,Title,Company,Experience Req.
0,Data Scientist/Data Analyst /Business Analyst,Inflexion Analytix Private Limited,0-3 Yrs
1,Senior Data Scientist,inVentiv International Pharma Services Pvt. Ltd.,3-6 Yrs
2,Only Fresher / Data Scientist / Data Analyst /...,GABA Consultancy services,0-0 Yrs
3,Advanced Analytics -Data Scientist,ERM Placement Services (P) Ltd.,3-7 Yrs
4,Data Scientist (Early Joiner),R Systems International Ltd.,4-8 Yrs
5,Data Scientist - Machine Learning/ NLP,TalPro,2-6 Yrs
6,Data Scientist || Python || C2H,Growel Softech Pvt. Ltd.,4-6 Yrs
7,Data Scientist || Python || C2H,Growel Softech Pvt. Ltd.,4-6 Yrs
8,Chaayos is Looking For Data Scientist,Chaayos (Sunshine Teahouse Pvt. Ltd.),0-5 Yrs
9,Data Scientist,Fractal Analytics,3-7 Yrs

In [108]:
# Q-6- for scraping a data for "Data Scientist" using the location (Delhi-NCR) and salary filter (3-6 lakhs)
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

In [109]:
driver = webdriver.Chrome("Chromedriver.exe")

In [110]:
url = "https://www.flipkart.com/"
driver.get(url)

In [113]:
Search_job = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
Search_job

In [114]:
Search_job.send_keys("Sunglasses")

In [115]:
button=driver.find_element_by_class_name('L0Z3Pu')
button.click()

In [116]:
brands=[]
product_description=[]
price=[]

In [133]:
#scrapping the required details
start=0
end=3
for page in range(start,end):#for loop for scrapping 4 page
    brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']") #scraping brands name by class name='_2WkVRV'
    for i in brand:
        brands.append(i.text) #appending the text in Brand list
   
    #appending the price list
    prices=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in prices:
        price.append(i.text)
    
    #appending the product description
    description=driver.find_elements_by_xpath("//a[@class='_2WkVRV']")
    for i in description:    
        product_description.append(i.text)
    
           
nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")#scraping the list of buttons from the page
try:
    driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page
except:
    driver.get(nxt_button[0].get_attribute('href'))

In [134]:
#for dataframe
import pandas as pd
Sunglasses = pd.DataFrame({})
Sunglasses['Brands'] = brands[:100]
Sunglasses['price'] = price[:100]
Sunglasses['description'] = product_description[:100]

In [135]:
Sunglasses

            Brands   price     description
0       LIZA ANGEL    ₹279      LIZA ANGEL
1            Wrogn    ₹663           Wrogn
2   kingsunglasses    ₹299  kingsunglasses
3         Fastrack    ₹513        Fastrack
4         Fastrack    ₹758        Fastrack
..             ...     ...             ...
95           Wrogn  ₹1,175           Wrogn
96      PHENOMENAL    ₹399      PHENOMENAL
97  ROZZETTA CRAFT    ₹499  ROZZETTA CRAFT
98    Silver Kartz    ₹259    Silver Kartz
99           NuVew    ₹375           NuVew

[100 rows x 3 columns]

In [80]:
#Q.8 scrape data for first 100 sneakers from flipkart
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

In [84]:
driver = webdriver.Chrome("Chromedriver.exe")
url = "https://www.flipkart.com/"
driver.get(url)

Search_job = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
Search_job

In [85]:
Search_job.send_keys("Sneakers")

In [86]:
button=driver.find_element_by_class_name('L0Z3Pu')
button.click()

In [102]:
# creating a list
brands=[]
product_description=[]
price=[]
pro_discount=[]

#scrapping the required details
start=0
end=3
for page in range(start,end):#for loop for scrapping 4 page
    brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']") #scraping brands name by class name='_2WkVRV'
    for i in brand:
        brands.append(i.text) #appending the text in Brand list
   
    #appending the price list
    prices=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in prices:
        price.append(i.text)
    
    #appending the product description
    desc=driver.find_elements_by_xpath("//div[@class='_2WkVRV']//a")
    for i in desc:
        product_description.append(i.text)
    
    #appending discount
    try:
        discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")
        pro_discount.append(i.text)
    except :
        pro_discount.append('No Discount')
    
             
nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")#scraping the list of buttons from the page
try:
    driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page
except:
    driver.get(nxt_button[0].get_attribute('href'))

In [103]:
print(len(brands), len(price), len(product_description), len(pro_discount))

120 120 0 3

In [111]:
#for dataframe
import pandas as pd
df = pd.DataFrame({})
df['Brands'] = brands[:100]
df['price'] = price[:100]

In [112]:
# Tried different xpath but product description and discount doesnt have same list length, thatswhy only Brands and price in dataframe
df

              Brands   price
0              Echor    ₹499
1             ADIDAS  ₹2,163
2          Red Eagle    ₹399
3                 TR    ₹599
4              SPARX    ₹666
..               ...     ...
95           Numenzo    ₹449
96              PUMA  ₹1,360
97  Absolute comfort    ₹284
98              ozzy    ₹489
99            Chevit    ₹474

[100 rows x 2 columns]

In [136]:
#Q-9 scraping shoes data from myntra.com using filter
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

In [140]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.myntra.com/shoes"
driver.get(url)

In [143]:
#locating the filter
time.sleep(2)
#locating the filter
filter_button=driver.find_elements_by_xpath("//div[@class='vertical-filters-filters']")
for i in filter_button:
    if i.text=='Rs. 6649 to Rs. 13099':
        i.click()
        break
#Locating filter
filter_button=driver.find_elements_by_xpath("//label[@class='common-customCheckbox']")
for i in filter_button:
    if i.text=='Black':
        i.click()
        break

In [ ]:
#scrapping the required details
start=0
end=3
   
           
nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")#scraping the list of buttons from the page
try:
    driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page
except:
    driver.get(nxt_button[0].get_attribute('href'))

In [3]:
# Q.4-scraping data from Glassdoor.com using data Scientist and Noida filters for comapny_name,no of days, rating of the company
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

In [53]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm"
driver.get(url)

# Scraping other details
company_title = []
company_tags = driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']//a//span")
for i in company_tags:
    company_title.append(i.text)

#Ratings of the company
rating_comp=[]
rating_tags = driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")
for i in rating_tags:
    rating_comp.append(i.text)

# No.of days scraping
days=[]
days_tags = driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")
for i in days_tags:
    days.append(i.text)

#for dataframe
import pandas as pd
jobs = pd.DataFrame({})
jobs['Company Title'] = company_title[:10]
jobs['Rating'] = rating_comp[:10]
jobs['No.of days Ago'] = days[:10]

#printing dataframe
jobs

                                     Company Title Rating No.of days Ago
0                                       Salesforce    4.5             5d
1                                          Bechtel    4.0             2d
2                                            Crowe    3.8            10d
3                                         Ericsson    4.1            17d
4  Siemens Technology and Services Private Limited    4.1            22d
5                                         MobiKwik    4.0            25d
6                         Lantern Digital Services    3.5             4d
7                                             Novo    4.2             8d
8                                    NatWest Group    3.9             2d
9                 Ally wiredsoft solutions (P) ltd    3.7             3d

In [54]:
# Q.5-scraping data from Glassdoor.com using data Scientist and Noida filters for Salaries, comapny_name,rating of the company
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

In [60]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.glassdoor.co.in/Salaries/new-delhi-data-scientist-salary-SRCH_IL.0,9_IM1083_KO10,24.htm?clickSource=searchBtn"
driver.get(url)

# Scraping other details
company_title = []
company_tags = driver.find_elements_by_xpath("//h3[@class='m-0 css-g261rn']//a")
for i in company_tags:
    company_title.append(i.text)

#Ratings of the company
rating_comp=[]
rating_tags = driver.find_elements_by_xpath("//span[@class='m-0 css-kyx745']")
for i in rating_tags:
    rating_comp.append(i.text)

# No.of days scraping
Avg_salary=[]
salary_tags = driver.find_elements_by_xpath("//div[@class='col-12 col-lg-4 px-lg-0 d-flex align-items-baseline']//h3")
for i in salary_tags:
    Avg_salary.append(i.text)

# Min and max Salary 
mm_salary=[]
mmsalary_tags = driver.find_elements_by_xpath("//span[@class='d-block d-lg-none m-0 css-1b6bxoo']")
for i in mmsalary_tags:
    mm_salary.append(i.text)


#for dataframe
import pandas as pd
jobs = pd.DataFrame({})
jobs['Company Title'] = company_title[:10]
jobs['Rating'] = rating_comp[:10]
jobs['Salary'] = Avg_salary[:10]
jobs['Min. and Max Range salary']= mm_salary[:10]

#printing dataframe
jobs

               Company Title Rating      Salary Min. and Max Range salary
0                        IBM    3.9   ₹9,00,000
1  Tata Consultancy Services    3.9   ₹6,15,289
2                  Accenture      4  ₹11,63,336
3                  Delhivery    3.9  ₹12,18,244
4         Ericsson-Worldwide      4   ₹7,39,238
5         UnitedHealth Group    3.7  ₹13,00,000
6         Valiance Solutions    4.2   ₹8,63,750
7                EXL Service    3.6  ₹11,10,000
8                      Optum    3.6  ₹14,23,677
9     Optum Global Solutions    3.9  ₹13,28,697

In [1]:
#Q.10- scraping data for first 10 laptop from amazon.in using intel i7 and intel i9 filter
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

In [2]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.amazon.in/ref=nav_logo"
driver.get(url)


#creating the empty list
Title=[]
Ratings=[]
price=[]

time.sleep(2)
#locating the search bar
search_bar = driver.find_element_by_id("twotabsearchtextbox")    # Locating searc_bar by id
search_bar.clear()                                               # clearing search_bar
search_bar.send_keys("laptops")                                   # sending user input to search bar
search_button = driver.find_element_by_xpath('//span[@id="nav-search-submit-text"]')       # Locating search_button by xpath
search_button.click()    

time.sleep(2)
#locating the core i7 filter
filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i7':
        i.click()
        break
#Locating the core i9 filter
filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i9':
        i.click()
        break
        
#Scrapping Titles
titles=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
for i in titles[:10]:
    Title.append(i.text)
    
    
#scrapping Price
prices=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in prices[:10]:
    price.append(i.text)

#locating Ratings
urls=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")#collecting urls of all the laptop
UR=[]
for i in urls[:10]:
    UR.append(i.get_attribute('href'))#getting the url of first 10 laptops
for url in UR:#loop for every laptop in the list
    driver.get(url)
    try:                  #exception handling for nosuchelementexception                                                    #click the rating link found
        rating=driver.find_element_by_xpath("//span[@class='a-size-base a-nowrap']//span")#locating the rating
        Ratings.append(rating.text)#appending the ratings in Ratings list
        
    except NoSuchElementException:
        Ratings.append("NO rating")#appending the No rating if no rating is there
        
#creating a dataframe
df=pd.DataFrame({'Title':Title,
                'Price':price,
                'Ratings':Ratings})
#printing dataframe
df

                                               Title   Price       Ratings
0  HP Pavilion x360 (2021) 14" (35.56cms) FHD Tou...  78,993    4 out of 5
1  HP Pavilion (2021) Thin & Light 11th Gen Core ...  84,990  4.4 out of 5
2  Mi Notebook Horizon Edition 14 Intel Core i7-1...  59,999  4.4 out of 5
3  HP Pavilion Gaming 10th Gen Intel Core i7 Proc...  96,555  4.2 out of 5
4  ASUS VivoBook S S14 Intel Core i7-1165G7 11th ...  76,990  4.4 out of 5
5  Dell 14 (2021) i7-1165G7 2in1 Touch Screen Lap...  91,390  4.6 out of 5
6  (Renewed) Dell XPS 9370 13.3-inch UHD Thin & L...  88,423     NO rating
7  Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...  83,990    4 out of 5
8  MSI GF63 Thin 10SCSR-019IN Intel Core i7-10750...  84,990  2.9 out of 5
9  (Renewed) Dell Intel Core i7 4th Gen 14 Inch(3...  43,999     NO rating