In [170]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException, ElementNotInteractableException

#Importing requests
import requests

# importing regex
import re

Q1-Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [9]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

# Opening the url
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)

In [18]:
#scraping names of the video
Rank=[]
try:
    rank_tag=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")
    for i in rank_tag:
        Rank.append(i.text)
except NoSuchElementException:#handling no such element exception
    Rank.append('No details available')
except StaleElementReferenceException:#handling Stale element exception
    Rank.append('No details available')

In [10]:
#scraping names of the video
name=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")
    for i in names:
        name.append(i.text)
except NoSuchElementException:#handling no such element exception
    name.append('No details available')
except StaleElementReferenceException:#handling Stale element exception
    name.append('No details available')

In [12]:
#scraping artist
Artist=[]
try:
    artist=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
    for i in artist:
        Artist.append(i.text)
except NoSuchElementException:#handling no such element exception
    Artist.append('No details available')
except StaleElementReferenceException:#handling Stale element exception
    Artist.append('No details available')

In [14]:
#scraping views
views=[]
try:
    v_tag=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
    for i in v_tag:
        views.append(i.text)
except NoSuchElementException:#handling no such element exception
    views.append('No details available')
except StaleElementReferenceException:#handling Stale element exception
    views.append('No details available')

In [16]:
##scraping upload date
upload_date=[]
try:
    date=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
    for i in date:
        upload_date.append(i.text)
except NoSuchElementException:#handling no such element exception
    upload_date.append('No details available')
except StaleElementReferenceException:#handling Stale element exception
    upload_date.append('No details available')

In [20]:
time.sleep(2)    
# Make dataframe
df = pd.DataFrame({'Rank':Rank,'Name':name,'Artist':Artist,'View':views,'Upload Date':upload_date })
df

,Rank,Name,Artist,View,Upload Date
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,9.10,"June 17, 2016"
1,2.,"""Despacito""[24]",Luis Fonsi,7.48,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,5.61,"October 8, 2016"
3,4.,"""Shape of You""[26]",Ed Sheeran,5.41,"January 30, 2017"
4,5.,"""See You Again""[27]",Wiz Khalifa,5.21,"April 6, 2015"
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,4.45,"January 31, 2012"
6,7.,"""Bath Song""[31]",Cocomelon – Nursery Rhymes,4.41,"May 2, 2018"
7,8.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,4.38,"February 27, 2018"
8,9.,"""Uptown Funk""[33]",Mark Ronson,4.25,"November 19, 2014"
9,10.,"""Gangnam Style""[34]",Psy,4.14,"July 15, 2012"
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,4.05,"March 6, 2014"
11,12.,"""Sugar""[37]",Maroon 5,3.52,"January 14, 2015"
12,13.,"""Dame Tu Cosita""[38]",El Chombo,3.50,"April 5, 2018"
13,14.,"""Sorry""[39]",Justin Bieber,3.46,"October 22, 2015"
14,15.,"""Roar""[40]",Katy Perry,3.40,"September 5, 2013"
15,16.,"""Counting Stars""[41]",OneRepublic,3.36,"May 31, 2013"
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,3.30,"October 7, 2014"
17,18.,"""Wheels on the Bus""[43]",Cocomelon – Nursery Rhymes,3.20,"May 24, 2018"
18,19.,"""Dark Horse""[44]",Katy Perry,3.11,"February 20, 2014"
19,20.,"""Faded""[45]",Alan Walker,3.11,"December 3, 2015"
20,21.,"""Girls Like You""[46]",Maroon 5,3.09,"May 31, 2018"
21,22.,"""Shake It Off""[47]",Taylor Swift,3.08,"August 18, 2014"
22,23.,"""Lean On""[48]",Major Lazer,3.08,"March 22, 2015"
23,24.,"""Bailando""[49]",Enrique Iglesias,3.07,"April 11, 2014"
24,25.,"""Let Her Go""[50]",Passenger,3.04,"July 25, 2012"
25,26.,"""Mi Gente""[51]",J Balvin,2.96,"June 29, 2017"
26,27.,"""Axel F""[52]",Crazy Frog,2.92,"June 16, 2009"
27,28.,"""Perfect""[53]",Ed Sheeran,2.92,"November 9, 2017"
28,29.,"""Waka Waka (This Time for Africa)""[54]",Shakira,2.90,"June 4, 2010"
29,30.,"""Hello""[55]",Adele,2.86,"October 22, 2015"

Q.2 Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/. You need to find following details:A) Match title (I.e. 1st ODI) B) Series C) Place D) Date E) Time

In [151]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://www.bcci.tv/"
driver.get(url)
time.sleep(3)

In [152]:
#going to international fixtures page
fixtures=driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']/div/ul/li/a")
try:
    fixtures.click()
except ElementNotInteractableException:
    driver.get(fixtures.get_attribute('href'))

In [153]:
Match_title=[]
#scraping match title
M_tag=driver.find_elements_by_xpath("//div[@class='fixture__format-strip']//span[1]")
for i in M_tag:
    if i.text is None :
        Match_title.append("--") 
    else:
        Match_title.append(i.text)

In [154]:
series_title=[]
#scraping series title
S_tag=driver.find_elements_by_xpath("//div[@class='fixture__format-strip']//span[2]")
for i in S_tag:
    if i.text is None :
        series_title.append("--") 
    else:
        series_title.append(i.text)

In [155]:
place=[]
#scraping place
p_tag=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']//span")
for i in p_tag:
    if i.text is None :
        place.append("--") 
    else:
        place.append(i.text)

In [163]:
date=[]
#scraping date
d_tag=driver.find_elements_by_xpath("//span[@class='fixture__datetime tablet-only']")
for i in d_tag:
    if i.text is None :
        date.append("--") 
    else:
        date.append(i.text)

In [167]:
# Make dataframe
df = pd.DataFrame({'Match title':Match_title,'Series':series_title,'Place':place,'Date and Time':date })
df

,Match title,Series,Place,Date and Time
0,TEST,ENGLAND V INDIA 2021,"Lord's, London",Thursday 12th August 15:30 IST
1,TEST,ENGLAND V INDIA 2021,"Headingley, Leeds",Wednesday 25th August 15:30 IST
2,TEST,ENGLAND V INDIA 2021,"The Oval, London",Thursday 2nd September 15:30 IST
3,TEST,ENGLAND V INDIA 2021,"Old Trafford, Manchester",Friday 10th September 15:30 IST

Q.3-Scrape the details of selenium exception from guru99.com.Url = https://www.guru99.com/
You need to find following details:A) Name B) Description

In [3]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(2)

# Opening the guru99.com
url = "https://www.guru99.com/"
driver.get(url)
time.sleep(2)

In [6]:
#clicking on selenium option under testing menu open its tutorial
selenium_link=driver.find_element_by_xpath("//li[@class='g-menu-item g-menu-item-type-component g-menu-item-121  ']/a")
try:
    selenium_link.click()
except ElementNotInteractableException:          #handling element not clickable exception
    driver.get(selenium_link.get_attribute('href'))
time.sleep(2)

#clicking on Selenium Exception Handling (Common Exceptions List) under Advance Webdriver Stuff!
exception_handle_link=driver.find_element_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']")
try:
    exception_handle_link.click()
except ElementNotInteractableException:      #handling element not clickable exception
    driver.get(exception_handle_link.get_attribute('href'))              
time.sleep(2)

In [7]:
#scraping name
name=[]
try:
    N_tag=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")
    for i in N_tag:
        name.append(i.text)
except NoSuchElementException:#handling no such element exception
    name.append('No details available')
except StaleElementReferenceException:#handling Stale element exception
    name.append('No details available')

In [10]:
#scraping description
description=[]
try:
    d_tag=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]")
    for i in d_tag:
        description.append(i.text)
except NoSuchElementException:#handling no such element exception
    description.append('No details available')
except StaleElementReferenceException:#handling Stale element exception
    description.append('No details available')

In [12]:
time.sleep(2)    
# Make dataframe
df = pd.DataFrame({'Name':name,'Description':description})
df

,Name,Description
0,Exception name,Description
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...
5,NoAlertPresentException,This Exception occurs when you switch to no pr...
6,NoSuchWindowException,This Exception occurs if the window target to ...
7,StaleElementReferenceException,This Selenium exception occurs happens when th...
8,SessionNotFoundException,The WebDriver is acting after you quit the bro...
9,TimeoutException,Thrown when there is not enough time for a com...
10,WebDriverException,This Exception takes place when the WebDriver ...
11,ConnectionClosedException,This type of Exception takes place when there ...
12,ElementClickInterceptedException,The command may not be completed as the elemen...
13,ElementNotInteractableException,This Selenium exception is thrown when any ele...
14,ErrorInResponseException,This happens while interacting with the Firefo...
15,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
16,ImeActivationFailedException,This expectation will occur when IME engine ac...
17,ImeNotAvailableException,It takes place when IME support is unavailable.
18,InsecureCertificateException,Navigation made the user agent to hit a certif...
19,InvalidArgumentException,It occurs when an argument does not belong to ...
20,InvalidCookieDomainException,This happens when you try to add a cookie unde...
21,InvalidCoordinatesException,This type of Exception matches an interacting ...
22,InvalidElementStateExceptio,It occurs when command can't be finished when ...
23,InvalidSessionIdException,This Exception took place when the given sessi...
24,InvalidSwitchToTargetException,This occurs when the frame or window target to...
25,JavascriptException,This issue occurs while executing JavaScript g...
26,JsonException,It occurs when you afford to get the session w...
27,NoSuchAttributeException,This kind of Exception occurs when the attribu...
28,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
29,NoSuchContextException,ContextAware does mobile device testing.
30,NoSuchCookieException,This Exception occurs when no cookie matching ...
31,NotFoundException,This Exception is a subclass of WebDriverExcep...
32,RemoteDriverServerException,This Selenium exception is thrown when the ser...
33,ScreenshotException,It is not possible to capture a screen.
34,SessionNotCreatedException,It happens when a new session could not be suc...
35,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
36,UnexpectedTagNameException,Happens if a support class did not get a web e...
37,UnhandledAlertException,This expectation occurs when there is an alert...
38,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
39,UnknownMethodException,This Exception happens when the requested comm...
40,UnreachableBrowserException,This Exception occurs only when the browser is...
41,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

Q.4-Scrape the details of State-wise GDP of India from statisticstime.com.Url = http://statisticstimes.com/
You have to find following details:A) Rank B) State C) GSDP at current price (19-20) D) GSDP at current price (18-19)
E) Share(18-19) F) GDP($ billion)

In [13]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "http://statisticstimes.com/economy/india/indian-states-gdp.php"
driver.get(url)
time.sleep(6)

In [25]:
rank=[]
try:
    r_tag=driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[1]")
    for i in r_tag:
        rank.append(i.text)
except NoSuchElementException:#handling no such element exception
    rank.append('No details available')
except StaleElementReferenceException:#handling Stale element exception
    rank.append('No details available')

In [40]:
state=[]
try:
    s_tag=driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[2]")
    for i in s_tag:
        state.append(i.text)
except NoSuchElementException:#handling no such element exception
    state.append('No details available')
except StaleElementReferenceException:#handling Stale element exception
    state.append('No details available')

In [20]:
GSDP1=[]
try:
    g_tag=driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[3]")
    for i in g_tag:
        GSDP1.append(i.text)
except NoSuchElementException:#handling no such element exception
    GSDP1.append('No details available')
except StaleElementReferenceException:#handling Stale element exception
    GSDP1.append('No details available')

In [22]:
GSDP2=[]
try:
    gg_tag=driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[4]")
    for i in gg_tag:
        GSDP2.append(i.text)
except NoSuchElementException:#handling no such element exception
    GSDP2.append('No details available')
except StaleElementReferenceException:#handling Stale element exception
    GSDP2.append('No details available')

In [29]:
share=[]
try:
    sh_tag=driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[5]")
    for i in sh_tag:
        share.append(i.text)
except NoSuchElementException:#handling no such element exception
    share.append('No details available')
except StaleElementReferenceException:#handling Stale element exception
    share.append('No details available')

In [31]:
GDP=[]
try:
    F_tag=driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[6]")
    for i in F_tag:
        GDP.append(i.text)
except NoSuchElementException:#handling no such element exception
    GDP.append('No details available')
except StaleElementReferenceException:#handling Stale element exception
    GDP.append('No details available')

In [42]:
time.sleep(2)    
# Make dataframe
df = pd.DataFrame({'Rank':rank,'State':state,'GSDP at current price (19-20)':GSDP1,'GSDP at current price (18-19)':GSDP2, 'Share(18-19)':share, 'GDP($ billion)':GDP})
df

,Rank,State,GSDP at current price (19-20),GSDP at current price (18-19),Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
...,...,...,...,...,...,...
61,29,Sikkim,"28,391","25,141",0.15%,"17,060"
62,30,Nagaland,-,"24,534",0.15%,-
63,31,Arunachal Pradesh,-,"22,488",0.13%,-
64,32,Mizoram,"24,424","20,947",0.13%,"17,797"
65,33,Andaman & Nicobar Islands,-,-,-,-

Q.5-Scrape the details of trending repositories on Github.com.
Url = https://github.com/ You have to find the following details: A) Repository title B) Repository description C) Contributors count D) Language used

In [186]:
# webdrive for chrome
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)
#getting url
url = "https://github.com/"
driver.get(url)
time.sleep(6)

In [190]:
#scraping Repository title
Name=[]
try:
    N_tag=driver.find_elements_by_xpath("//span[@class='text-normal']")
    for i in N_tag:
        Name.append(i.text)
except NoSuchElementException:#handling no such element exception
    Name.append('No details available')
except StaleElementReferenceException:#handling Stale element exception
    Name.append('No details available')

In [192]:
#scraping Repository description
desc=[]
try:
    d_tag=driver.find_elements_by_xpath("//p[@class='col-9 color-text-secondary my-1 pr-4']")
    for i in d_tag:
        desc.append(i.text)
except NoSuchElementException:#handling no such element exception
    desc.append('No details available')
except StaleElementReferenceException:#handling Stale element exception
    desc.append('No details available')

In [194]:
#scraping cont.count
count=[]
try:
    c_tag=driver.find_elements_by_xpath("//a[@class='Link--muted d-inline-block mr-3']")
    for i in c_tag:
        count.append(i.text)
except NoSuchElementException:#handling no such element exception
    count.append('No details available')
except StaleElementReferenceException:#handling Stale element exception
    count.append('No details available')

In [212]:
#scraping language
language=[]
try:
    lan_tag=driver.find_elements_by_xpath("//span[@class='d-inline-block ml-0 mr-3']")
    for i in lan_tag:
        language.append(i.text)
except NoSuchElementException:#handling no such element exception
    language.append('No details available')
except StaleElementReferenceException:#handling Stale element exception
    language.append('No details available')

In [215]:
# Make dataframe
df = pd.DataFrame({'Repository title':Name[:21],'Repository description':desc[:21],'Contributors count':count[:21],'Language used':language[:21]})
df

,Repository title,Repository description,Contributors count,Language used
0,microsoft /,Tool for parsing GC logs,501,Java
1,willmcgugan /,Textual is a TUI (Text User Interface) framewo...,44,Python
2,trufflesuite /,A tool for developing smart contracts. Crafted...,"2,739",JavaScript
3,yifeikong /,技术面试最后反问面试官的话,54,Jupyter Notebook
4,codebasics /,Repository to store sample python programs for...,"10,627",Objective-C
5,expo /,An open-source platform for making universal n...,"1,770",Rust
6,hora-search /,🚀 efficient approximate nearest neighbor searc...,"7,811",C++
7,RPCS3 /,PS3 emulator/debugger,636,Rust
8,sharkdp /,"A simple, fast and user-friendly alternative t...","2,931",Java
9,Snailclimb /,「Java学习+面试指南」一份涵盖大部分 Java 程序员所需要掌握的核心知识。准备 Jav...,"9,116",Python
10,TCM-Course-Resources /,Compilation of Resources from TCM's Practical ...,"14,302",Java
11,brettwooldridge /,"光 HikariCP・A solid, high-performance, JDBC con...","2,637",Shell
12,sdushantha /,Recover old Snaps that have “disappeared” from...,"1,090",Python
13,PeterWang512 /,Code for the paper: Sketch Your Own GAN https:...,18,C
14,arendst /,Alternative firmware for ESP8266 with easy con...,"9,733",C++
15,fholger /,Add FidelityFX SuperResolution to SteamVR games,"1,497",Go
16,Aircoin-official /,Cash system for AIR.,"18,369",Python
17,danistefanovic /,🤓 Build your own (insert technology here),466,Python
18,kubernetes /,Production-Grade Container Scheduling and Mana...,"108,775",CSS
19,kingoflolz /,Model parallel transformers in JAX and Haiku,"37,353",Go
20,uzh-rpg /,Repository relating to the CVPR21 paper TimeLe...,"1,920",JavaScript

Q.6-Scrape the details of top 100 songs on billboard.com.Url = https://www.billboard.com/ You have to find the following details:A) Song name B) Artist name C) Last week rank D) Peak rank E) Weeks on board

In [185]:
# webdrive for chrome
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)
#getting url
url = "https://www.billboard.com"
driver.get(url)
time.sleep(6)

In [44]:
# clicking on hot 100
Hot_tag=driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/nav/ul/li[3]/a')
Hot_tag.click()

In [61]:
#scraping Last week rank
last_week=[]
try:
    L_tag=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
    for i in L_tag:
        last_week.append(i.text)
except NoSuchElementException:#handling no such element exception
    last_week.append('No details available')
except StaleElementReferenceException:#handling Stale element exception
    last_week.append('No details available')

In [48]:
name=[]
#scraping song name
try:
    n_tag=driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
    for i in n_tag:
        name.append(i.text)
except NoSuchElementException:#handling no such element exception
    name.append('No details available')
except StaleElementReferenceException:#handling Stale element exception
    name.append('No details available')

In [62]:
artist=[]
#scraping artist name
try:
    a_tag=driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
    for i in a_tag:
        artist.append(i.text)
except NoSuchElementException:#handling no such element exception
    artist.append('No details available')
except StaleElementReferenceException:#handling Stale element exception
    artist.append('No details available')

In [64]:
peak_rank=[]
#scraping peak rank
try:
    p_tag=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
    for i in p_tag:
        peak_rank.append(i.text)
except NoSuchElementException:#handling no such element exception
    peak_rank.append('No details available')
except StaleElementReferenceException:#handling Stale element exception
    peak_rank.append('No details available')

In [66]:
week=[]
#scraping weeks on board
try:
    w_tag=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
    for i in w_tag:
        week.append(i.text)
except NoSuchElementException:#handling no such element exception
    week.append('No details available')
except StaleElementReferenceException:#handling Stale element exception
    week.append('No details available')

In [70]:
time.sleep(2)    
# Make dataframe
df = pd.DataFrame({'song name':name,'Artist_name':artist,'Last week rank':last_week,'Peak rank':peak_rank,'Weeks on board':week})
df

,song name,Artist_name,Last week rank,Peak rank,Weeks on board
0,Butter,BTS,1,1,10
1,Industry Baby,Lil Nas X & Jack Harlow,-,2,1
2,Good 4 U,Olivia Rodrigo,2,1,11
3,Stay,The Kid LAROI & Justin Bieber,4,3,3
4,Levitating,Dua Lipa Featuring DaBaby,3,2,43
...,...,...,...,...,...
95,Minimum Wage,Blake Shelton,83,67,12
96,Working,Tate McRae X Khalid,-,88,5
97,Holy Smokes,Trippie Redd Featuring Lil Uzi Vert,50,50,2
98,WUSYANAME,"Tyler, The Creator Featuring YoungBoy Never Br...",91,14,5
99,Still Chose You,The Kid LAROI Featuring Mustard,-,100,1

Q.7-#Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:A) Name B) Designation C) Company D) Skills they hire for E) Location

In [221]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://www.naukri.com/data-science-recruiters"
driver.get(url)
time.sleep(6)

Recuirter_name=[]
#scraping Name
titles=driver.find_elements_by_xpath("//span[@class='fl ellipsis']")
titles

[<selenium.webdriver.remote.webelement.WebElement (session="9b6269021a1bfe51f054d572f23c7d66", element="843404c5-7498-4a06-b4fc-f0b06148c7cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b6269021a1bfe51f054d572f23c7d66", element="a352d662-baea-4783-9d6e-9129c1ba8786")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b6269021a1bfe51f054d572f23c7d66", element="da04ff2f-f340-4353-a6a6-dec1d8193f07")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b6269021a1bfe51f054d572f23c7d66", element="32697177-c28d-47a6-90ff-ec6818a0bfb9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b6269021a1bfe51f054d572f23c7d66", element="c086c818-cd03-4cdf-bfac-a31e95f47e9b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b6269021a1bfe51f054d572f23c7d66", element="d84ee63a-fe15-46e3-bebc-ba51be8c347c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b6269021a1bfe51f054d572f23c7d66", element="1144654f-8778-4a87-bda0-1c23c181b4f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b6269021a1bfe51f054d572f23c7d66", element="1a6a41e0-75c5-45f8-8284-2b25d672df51")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b6269021a1bfe51f054d572f23c7d66", element="7e982b48-845f-4fe8-b938-531853abf330")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b6269021a1bfe51f054d572f23c7d66", element="4b5c3358-09c8-45ac-b5fa-d5d1d8cc87d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b6269021a1bfe51f054d572f23c7d66", element="ed261e1c-fcc1-463f-a083-cc747ffefc47")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b6269021a1bfe51f054d572f23c7d66", element="f50fcca2-dc46-418a-8f79-2be7f63e5d28")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b6269021a1bfe51f054d572f23c7d66", element="457cea49-e007-4654-a778-f858758a772e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b6269021a1bfe51f054d572f23c7d66", element="505053c4-6d62-49fd-9776-ea0a59d5910b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b6269021a1bfe51f054d572f23c7d66", element="75201f5b-ebb1-400b-9110-bb8e9b91625d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b6269021a1bfe51f054d572f23c7d66", element="0effbe9a-f624-4658-9ee4-9ec044501057")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b6269021a1bfe51f054d572f23c7d66", element="b0fa0a25-6afb-4e21-82bf-66fb572992da")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b6269021a1bfe51f054d572f23c7d66", element="51874d6e-c620-4645-98ec-284c1abe8162")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b6269021a1bfe51f054d572f23c7d66", element="ef4afed0-0cc2-4586-9fe0-f1fd5e1c6fcc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b6269021a1bfe51f054d572f23c7d66", element="fb02b0d5-6d9d-4bff-bad3-ec15089d1f92")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b6269021a1bfe51f054d572f23c7d66", element="3ebcc7e4-e561-4f36-a9b7-0a206d2c731c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b6269021a1bfe51f054d572f23c7d66", element="26758cc5-95c9-4b3c-82b1-f3f8be5339e5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b6269021a1bfe51f054d572f23c7d66", element="8e11b7c2-d115-461d-83f6-412bead4a53d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b6269021a1bfe51f054d572f23c7d66", element="bcfac6bd-261e-4db7-97a1-5dce3e24fcce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b6269021a1bfe51f054d572f23c7d66", element="dbb1d662-b0b0-4652-8691-5d83385d6e14")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b6269021a1bfe51f054d572f23c7d66", element="55a21203-6bc3-43c5-b1f1-6c3b59adce1b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b6269021a1bfe51f054d572f23c7d66", element="ef50337d-1503-41bd-a5a5-c84213f86f10")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b6269021a1bfe51f054d572f23c7d66", element="a918a890-54ef-4845-962d-4ee68a6463ce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b6269021a1bfe51f054d572f23c7d66", element="bf03b90d-ac9a-4bea-bcfb-e6d1c0943279")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b6269021a1bfe51f054d572f23c7d66", element="413b537d-4524-44d5-a427-1678497b216b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b6269021a1bfe51f054d572f23c7d66", element="f159ef31-8f0c-4a6a-958a-92ec9b3f85b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b6269021a1bfe51f054d572f23c7d66", element="0404c1b7-94c2-4544-bd5c-5cfd7076b8ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b6269021a1bfe51f054d572f23c7d66", element="17ebf8df-1162-4b46-a5a2-a2577f0dd507")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b6269021a1bfe51f054d572f23c7d66", element="6487f669-25c3-4363-bc80-c2b97d954f6c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b6269021a1bfe51f054d572f23c7d66", element="b4744271-8c35-40f3-9346-97af0fdc7ec9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b6269021a1bfe51f054d572f23c7d66", element="69ac08e4-4f86-4794-ae86-58d363ae7399")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b6269021a1bfe51f054d572f23c7d66", element="8080fb91-0cf4-4582-84b3-fe0528e865c3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b6269021a1bfe51f054d572f23c7d66", element="ece11795-42ac-4ede-b785-39a71785637f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b6269021a1bfe51f054d572f23c7d66", element="2132bffc-bac8-4368-9aaf-e6eb67bc392f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b6269021a1bfe51f054d572f23c7d66", element="813cdc4f-a538-437c-ac6a-5453aed9fb3c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b6269021a1bfe51f054d572f23c7d66", element="ec6d58af-165b-4a23-bc76-10e2d1153af4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b6269021a1bfe51f054d572f23c7d66", element="ebe71cea-c888-4bb8-8b83-9d560cf77c1b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b6269021a1bfe51f054d572f23c7d66", element="8c949e41-ad51-47f6-99e1-5f8b9aab4afd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b6269021a1bfe51f054d572f23c7d66", element="039e390f-78e7-4912-be5a-849d14de2a0c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b6269021a1bfe51f054d572f23c7d66", element="bdc5d967-33a0-4bae-a0ec-000e1301c298")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b6269021a1bfe51f054d572f23c7d66", element="f0ed2c7a-df1a-471d-9251-0fc98b24c0f6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b6269021a1bfe51f054d572f23c7d66", element="2c167b47-4089-4a04-9ae5-3f4ec4093e64")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b6269021a1bfe51f054d572f23c7d66", element="e9df1863-0824-4e2c-9054-2c2a4c3f6673")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b6269021a1bfe51f054d572f23c7d66", element="c2cac1aa-0f05-4918-a215-a9256961855b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9b6269021a1bfe51f054d572f23c7d66", element="647c1855-7b64-4780-9863-b49e97c1d186")>]

In [172]:
for i in titles:
    if i.text is None :
        Recuirter_name.append("--") 
    else:
        Recuirter_name.append(i.text)

In [173]:
designation=[]
#scraping designation
designation_tag=driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
for i in designation_tag:
    if i.text is None :
        designation.append("--") 
    else:
        designation.append(i.text)

In [174]:
Description=[]
#scraping description
Des_tag=driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
for i in Des_tag:
    if i.text is None :
        Description.append("--") 
    else:
        Description.append(i.text)

In [231]:
Location=[]
#scraping location
try:
    L_tag=driver.find_elements_by_xpath("//a[@class='ellipsis']//i")
    for i in L_tag:
        Location.append(i.text)
except NoSuchElementException:#handling no such element exception
    Location.append('No details available')
except StaleElementReferenceException:#handling Stale element exception
    Location.append('No details available')

In [183]:
company=[]
urls =[]
for i in driver.find_elements_by_xpath("//a[@class ='ellipsis']"):
    urls.append(i.get_attribute("href"))

for i in urls:
    driver.get(i)
    time.sleep(3)
#comapny title
    try:
        job=driver.find_element_by_xpath("//i[@class='cmpIcn']")
        company.append(job.text)
    except NoSuchElementException:
        company.append('-')

In [88]:
time.sleep(2)    
# Make dataframe
df = pd.DataFrame({'Recuirter_name':Recuirter_name[:50],'designation':designation[:50],'Description':Description[:50]})
df

,Recuirter_name,designation,Description
0,Aakash Harit,HR Manager,"Classic ASP Developer, Internet Marketing Prof..."
1,shravan Kumar Gaddam,Company Recruiter,".Net, Java, Data Science, Linux Administration..."
2,MARSIAN Technologies LLP,Company HR,"Data Science, Artificial Intelligence, Machine..."
3,Anik Agrawal,Company Recruiter,"Mean Stack, javascript, angularjs, mongodb, We..."
4,subhas patel,Founder CEO,"Hadoop, Spark, Digital Strategy, Data Architec..."
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,"Analytics, Business Intelligence, Business Ana..."
6,Institute for Financial Management and Resear,Programme Manager,Data Science
7,Balu Ramesh,HR Administrator,"Machine Learning, algorithms, Go Getter, Compu..."
8,Asif Lucknowi,Director,"Technical Training, Software Development, Pres..."
9,InstaFinancials,Human Resource,"Software Development, It Sales, Account Manage..."
10,Priyanka Akiri,HR Manager,"Oracle Dba, Data Science, Data Warehousing, ET..."
11,Kalpana Dumpala,Executive Hiring,"Qa, Ui/ux, Java Developer, Java Architect, C++..."
12,Mubarak,Company HR,"Business Intelligence, Data Warehousing, Data ..."
13,Kushal Rastogi,Company HR,"Office Administration, Hr Administration, tele..."
14,Ruchi Dhote,Senior Executive Talent Acquisition,"Qlikview, Qlik Sense, Microsoft Azure, Power B..."
15,Mahesh Babu Channa,HR Team Lead,"Social Media, digital media maketing, seo, smm..."
16,Kapil Devang,HR Manager,"Big Data, Hadoop, Data Analytics, Data Science"
17,Manisha Yadav,HR Executive,"Telecalling, Client Interaction, Marketing, Re..."
18,Riya Rajesh,Manager Talent Acquisition,Data Science
19,Rashmi Bhattacharjee,HR Head,"Corporate Sales, Software Development, Softwar..."
20,Faizan Kareem,HR MANAGER,"Data Analytics, Data Science, Machine Learning..."
21,Rithika dadwal,HR Recruiter,"Data Science, Machine Learning, Python, R, Dee..."
22,Sandhya Khandagale,HR Recruiter,"Big Data, Data Science, Artificial Intelligenc..."
23,Shaun Rao,Manager Human Resources,"Java, Net, Angularjs, Hr, Infrastructure, Mana..."
24,Azahar Shaikh,Company Recruiter,"Data Science, Artificial Intelligence, Machine..."
25,Manas,Lead Talent acquisition,"Software Architecture, Vp Engineering, Product..."
26,kumar,Proprietor,"Data Science, Hadoop, Rpas, Devops, Python, Aw..."
27,Sunil Vedula,CEO,"Signal Processing, Machine Learning, Neural Ne..."
28,Rajat Kumar,Founder CEO,"Web Technologies, Project Management, Software..."
29,Priya Khare,Senior Manager,"Data Science, Artificial Intelligence, analyti..."
30,Dhruv Dev Dubey,Company Recruitment Head,"Server Administartion, Verilog, Vhdl, Digital ..."
31,Jayanth N,Project Manager,"Data Analytics, Managed Services, Team Leading..."
32,SREEDHAR,Recruitment Consultant,"Data Science, Machine Learning, Big Data Analy..."
33,Radha Manivasagam,HR Executive,"Python, Artificial Intelligence, Machine Learn..."
34,Ravi Dubey,Recruitment Manager,Walmart Interra Skeps Expressstores indifi whi...
35,Prateek Kumar,Head,"Java, Python, Angularjs, Software Testing, Mac..."
36,Amit Sharma,Consultant,"Machine Learning, Artificial Intelligence, Dat..."
37,Kanan,senior technology instructor,"C, C++, Artificial Intelligence, Python, Php, ..."
38,Shashikant Chaudhary,HR Recruiter/HR Excutive,"Relationship Management, Retail Sales, Private..."
39,Brad,"Manager, Technical Recruiting","Data Science, Software Engineering"
40,Rutuja Pawar,Technical Recruiter,"Data Science, Big Data Analytics, Digital Mark..."
41,Madhusudhan Sridhar,Erp Implementer,"Data Science, Recruitment, Salary"
42,Ankit Sinha,Head Analytics,"B.Tech, Tableau, Statistics, R, Analytics, Tim..."
43,Gaurav Chouhan,Chief Technical Officer,"Software Development, Business Intelligence, B..."
44,Rashi Kacker,Sr Product Manager,"Data Science, Node.js, Angularjs"
45,Ashwini,Director Global Delivery,"Data Science, Media Marketing, Resource Planni..."
46,Balaji Kolli,Co Founder,"Data Analysis, Learning, Data Science, Compute..."
47,Rajani Nagaraj,HR Manager,"Java, Hadoop, R, Machine Learning, Spark, Flum..."
48,ROHIT Kumar,Architect,"Software Development, Core Java, Unit Testing,..."
49,Amir Chowdhury,Managing Partner,"Machine Learning, Data Science, Product Manage..."

#Q.8-Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [21]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(2)

#
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
driver.get(url)
time.sleep(2)

In [22]:
#scrapping book names
book_name=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]")
    for i in names:
        book_name.append(i.text)
except NoSuchElementException:              #handling no such element exception
    book_name.append('No details available')

In [24]:
#scrapping author names
aurthor_name=[]
try:
    A_names=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]")
    for i in A_names:
        aurthor_name.append(i.text)
except NoSuchElementException:              #handling no such element exception
    aurthor_name.append('No details available')

In [28]:
#scrapping volume sold
Volume=[]
try:
    Vol=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]")
    for i in Vol:
        Volume.append(i.text)
except NoSuchElementException:              #handling no such element exception
    Volume.append('No details available')

In [29]:
#scrapping Publisher
publisher=[]
try:
    pub=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]")
    for i in pub:
        publisher.append(i.text)
except NoSuchElementException:              #handling no such element exception
    publisher.append('No details available')

In [30]:
#scrapping Genre
Genre=[]
try:
    Gen=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]")
    for i in Gen:
        Genre.append(i.text)
except NoSuchElementException:              #handling no such element exception
    Genre.append('No details available')

In [31]:
time.sleep(2)    
# Make dataframe
df = pd.DataFrame({'Book Name':book_name, 'Author Name':aurthor_name, 'Volume sold':Volume,'Publisher':publisher,'Genre':Genre})
df

,Book Name,Author Name,Volume sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

#Q-9. Scrape the details most watched tv series of all time from imdb.com.
 Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [96]:
# opening required Url
url = "https://www.imdb.com/list/ls095964455/"
driver.get(url)
time.sleep(2)

In [97]:
Name=[]
#scraping Name
N_tag=driver.find_elements_by_xpath("//h3[@class='lister-item-header']//a")
for i in N_tag:
    if i.text is None :
        Name.append("--") 
    else:
        Name.append(i.text)

In [106]:
year_span=[]
#scraping year_span
y_tag=driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']")
for i in y_tag:
    if i.text is None :
        year_span.append("--") 
    else:
        year_span.append(i.text)

In [111]:
Genre=[]
#scraping Genre
G_tag=driver.find_elements_by_xpath("//p[@class='text-muted text-small']//span[5]")
for i in G_tag:
    if i.text is None :
        Genre.append("--") 
    else:
        Genre.append(i.text)

In [114]:
Ratings=[]
#scraping ratings
R_tag=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']//span[2]")
for i in R_tag:
    if i.text is None :
        Ratings.append("--") 
    else:
        Ratings.append(i.text)

In [119]:
Runtime=[]
#scraping runtime
r_tag=driver.find_elements_by_xpath("//p[@class='text-muted text-small']//span[3]")
for i in r_tag:
    if i.text is None :
        Runtime.append("--") 
    else:
        Runtime.append(i.text)

In [127]:
votes=[]
#scraping votes
v_tag=driver.find_elements_by_xpath("//p[@class='text-muted text-small']//span[2]")
for i in v_tag:
    if i.text is None :
        votes.append("--") 
    else:
        votes.append(i.text)

In [133]:
#scraping final-votes from scraped information
final_votes=[]
for i in range(1,len(votes),2):
    final_votes.append(votes[i])

In [137]:
time.sleep(2)    
# Make dataframe
IMdb = pd.DataFrame({'Name':Name,'year_span':year_span,'Genre':Genre,'Runtime':Runtime,'Ratings':Ratings,'votes':final_votes})
IMdb

,Name,year_span,Genre,Runtime,Ratings,votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,850,160"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"887,371"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"886,647"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"266,733"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"227,169"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"45,095"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,834"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"172,041"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"35,785"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"195,408"

Q.10 Details of Datasets from UCI machine learning repositories.
 Url = https://archive.ics.uci.edu/
 You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the Show All Dataset page through code

In [113]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(2)

# opening url
url = "https://archive.ics.uci.edu/ml/index.php"
driver.get(url)
time.sleep(2)

In [115]:
# loacting show all dataset
dataset=driver.find_element_by_xpath('/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b')
dataset.click()

In [130]:
#scrapping datset name
Data=[]
try:
    data=driver.find_elements_by_xpath("/html/body/table/tbody/tr/td/table/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a")
    for i in data:
        Data.append(i.text)
except NoSuchElementException:              #handling no such element exception
    Data.append('No details available')

In [117]:
#scrapping Data type
data_type=[]
try:
    data=driver.find_elements_by_xpath("/html/body/table/tbody/tr/td/table/tbody/tr/td[2]/p")
    for i in data:
        data_type.append(i.text)
except NoSuchElementException:              #handling no such element exception
    data_type.append('No details available')

In [118]:
#scrapping default task
default=[]
try:
    dt=driver.find_elements_by_xpath("/html/body/table/tbody/tr/td/table/tbody/tr/td[3]/p")
    for i in dt:
        default.append(i.text)
except NoSuchElementException:              #handling no such element exception
    default.append('No details available')

In [119]:
#scrapping attribute type
att_type=[]
try:
    att=driver.find_elements_by_xpath("/html/body/table/tbody/tr/td/table/tbody/tr/td[4]/p")
    for i in att:
        att_type.append(i.text)
except NoSuchElementException:              #handling no such element exception
    att_type.append('No details available')

In [120]:
#scrapping instance
instance=[]
try:
    ins=driver.find_elements_by_xpath("/html/body/table/tbody/tr/td/table/tbody/tr/td[5]/p")
    for i in ins:
        instance.append(i.text)
except NoSuchElementException:              #handling no such element exception
    instance.append('No details available')

In [121]:
#scrapping attribute
attribute=[]
try:
    tag=driver.find_elements_by_xpath("/html/body/table/tbody/tr/td/table/tbody/tr/td[6]/p")
    for i in tag:
        attribute.append(i.text)
except NoSuchElementException:              #handling no such element exception
    attribute.append('No details available')

In [122]:
#scrapping year
year=[]
try:
    y_tag=driver.find_elements_by_xpath("/html/body/table/tbody/tr/td/table/tbody/tr/td[7]/p")
    for i in y_tag:
        year.append(i.text)
except NoSuchElementException:              #handling no such element exception
    year.append('No details available')

In [149]:
time.sleep(2)    
# Make dataframe
df = pd.DataFrame({'Dataset name':Data[:588],'Data type':data_type[:588],'Task':default[:588],'Attribute type':att_type[:588],'No of instances':instance[:588],'No of attribute':attribute[:588], 'Year Note':year[:588]})
df

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year Note
0,Abalone,Table View List View,Default Task,Attribute Types,# Instances,# Attributes,Year
1,Adult,Data Types,Classification,"Categorical, Integer, Real",4177,8,1995
2,Annealing,Multivariate,Classification,"Categorical, Integer",48842,14,1996
3,Anonymous Microsoft Web Data,Multivariate,Classification,"Categorical, Integer, Real",798,38,
4,Arrhythmia,Multivariate,Recommender-Systems,Categorical,37711,294,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,"Multivariate, Time-Series",Classification,"Integer, Real",13611,17,2020
584,Gait Classification,Multivariate,Classification,,12684,23,2020
585,Wikipedia Math Essentials,Multivariate,Classification,Real,48,321,2020
586,Wikipedia Math Essentials,Multivariate,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Time-Series,Regression,Real,731,1068,2021